<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<body style="background-color:#fffdd0;">
<center>
  <h1>שכחת ססמה?</h1>
  <p>הזן את כתובת הדוא"ל שלך למטה ונשלח אליך הוראות בדבר הגדרת כתובת חדשה</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="שלח לי הוראות">

</form>
  <img src="https://s3-eu-west-1.amazonaws.com/uploads.playbaamboozle.com/uploads/images/85154/1595344305_44032";>
</center>
</body>
{% endblock %}