{% extends 'base.html' %}

{% block title %}Add board Class{% endblock %}

{% block content %}

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<body style="background-color:#6495ED;">
<center>
  <h2>לוח מודעות</h2>
  <h2>בית כיתה</h2>


<div class="w3-bar w3-border w3-light-black">
  <a href="{% url 'home' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a href="{% url 'grades' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">ציונים</a>
  <a href="{% url 'bulletin_Schedule' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">לוח מבחנים</a>
  <a href="{% url 'schedule' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">מערכת שעות</a>
  <a href="{% url 'presence' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">נוכחות</a>
  <a href="{% url 'bulletin_board' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">לוח מודעות - בית ספר</a>
  <a href="{% url 'bulletin_board_class' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile w3-black">לוח מודעות - כיתה</a>
  <a href="{% url 'logout' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">Log Out</a>

</div>

  <form method="post">
    {% csrf_token %}
    {{ BoardClass_form.as_p }}
    <div class="w3-container">

       <button type="submit"class="w3-button w3-teal">שמור</button>

    </div>


  </form>



</center>
</body>
{% endblock %}











