{% extends 'base.html' %}

{% block title %}לוח מודעות{% endblock %}

{% block content %}

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">

<style>
    a:link, a:visited {
        background-color: #B7E9F7;
        color: black;
        border: 1px solid black;
        padding: 10px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: #DBF3FA;
        color: white;
    }
    .w3-lobster {
    font-family: "Lobster", Sans-serif;
    }
</style>


<body style="background-color:#fffdd0;">
    <center>
        <p class="w3-xxlarge font-effect-shadow-multiple">לוח מודעות בית ספרי</p>



        <div class="w3-bar w3-border w3-light-black">
            <a href="{% url 'home' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">Home</a>
            <a href="{% url 'grades' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">ציונים</a>
            <a href="{% url 'bulletin_Schedule' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">לוח מבחנים</a>
            <a href="{% url 'schedule' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">מערכת שעות</a>
            <a href="{% url 'presence' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">נוכחות</a>
            <a href="{% url 'bulletin_board' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile w3-black">לוח מודעות - בית ספר</a>
            <a href="{% url 'bulletin_board_class' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">לוח מודעות - כיתה</a>
            <a href="{% url 'logout' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">Log Out</a>

        </div>

        {% if topics %}
        <table class="w3-table-all">
            <thead>
                <tr class="w3-teal">

                    <th>נושא</th>
                    <th>תיאור</th>
                    <th>תאריך</th>
                    {% if user.username == 'Admin' %}
                    <th>לערוך</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for board_school in topics  %}
                <tr>

                    <th>{{ board_school.topic }}</th>
                    <th>{{ board_school.description }}</th>
                    <th>{{ board_school.publication_date }}</th>

                    <th>
                        {% if user.username == 'Admin' %}
                        <a href="{% url 'editBoardSchool' board_school.id %}" class="w3-button w3-teal">לערוך</a>
                        <a href="{% url 'deleteBoardSchool' board_school.id %}" class="w3-button w3-teal">למחוק</a>
                        {% endif %}
                    </th>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <h1>לא קיימות הודעות</h1>
        {% endif %}

        <dwasiv class="w3-bar">
            {% if user.username == 'Admin' %}
            <a href="{% url 'addBoardSchool' %}" class="w3-button w3-teal">הוספת הודעה</a>
            {% endif %}


        </dwasiv>
        </div>


    </center>
</body>
{% endblock content %}
