{% extends 'base.html' %}

{% block title %}נוכחות{% endblock %}

{% block content %}

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
<body>

 <style>
     a:link, a:visited {
         background-color: #B7E9F7;
         color: black;
         border: 2px solid black;
         padding: 10px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
     }

     a:hover, a:active {
         background-color: #DBF3FA;
         color: white;
     }
     .w3-lobster {
    font-family: "Lobster", Sans-serif;
    }
</style>

<body style="background-color:#fffdd0;">
<center>
  <p class="w3-xxlarge font-effect-shadow-multiple">דף נוכחות</p>


<div class="w3-bar w3-border w3-light-black">
  <a href="{% url 'home' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a href="{% url 'grades' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">ציונים</a>
  <a href="{% url 'bulletin_Schedule' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">לוח מבחנים</a>
  <a href="{% url 'schedule' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">מערכת שעות</a>
  <a href="{% url 'presence' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile w3-black">נוכחות</a>
  <a href="{% url 'bulletin_board' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">לוח מודעות</a>
  <a href="{% url 'bulletin_board_class' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">לוח מודעות - כיתה</a>
  <a href="{% url 'logout' %}" style="width:12.5%" class="w3-bar-item w3-button w3-mobile">Log Out</a>




  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }

      th, td {
          padding: 7px;
      }

      input {
          text-align: right;
      }

      td {
          text-align: right;
      }

      th {
          text-align: right;
      }
  </style>
  </head>


      <body style="background-color:#DBF3FA;">
          <center>
              <p align="left">.</p>

              </style>
              </head>
              <body>

                  <table style="width:40%">
                      <tr>
                          <th>לא נוכח</th>
                          <th>נוכח</th>
                          <th>שם התלמיד</th>

                      </tr>
                      <tr>
                          
                          <td><input type="checkbox" id="s1" name="vehicle1"></td>
                          <td><input type="checkbox" id="s1" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s2" name="vehicle1"></td>
                          <td><input type="checkbox" id="s2" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s3" name="vehicle1"></td>
                          <td><input type="checkbox" id="s3" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s5" name="vehicle1"></td>
                          <td><input type="checkbox" id="s5" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s6" name="vehicle1"></td>
                          <td><input type="checkbox" id="s6" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s7" name="vehicle1"></td>
                          <td><input type="checkbox" id="s7" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s8" name="vehicle1"></td>
                          <td><input type="checkbox" id="s8" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s9" name="vehicle1"></td>
                          <td><input type="checkbox" id="s9" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s10" name="vehicle1"></td>
                          <td><input type="checkbox" id="s10" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s11" name="vehicle1"></td>
                          <td><input type="checkbox" id="s11" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s12" name="vehicle1"></td>
                          <td><input type="checkbox" id="s12" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s13" name="vehicle1"></td>
                          <td><input type="checkbox" id="s13" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s14" name="vehicle1"></td>
                          <td><input type="checkbox" id="s14" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s15" name="vehicle1"></td>
                          <td><input type="checkbox" id="s15" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s16" name="vehicle1"></td>
                          <td><input type="checkbox" id="s16" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s17" name="vehicle1"></td>
                          <td><input type="checkbox" id="s17" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s18" name="vehicle1"></td>
                          <td><input type="checkbox" id="s18" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                      <tr>
                          <td><input type="checkbox" id="s19" name="vehicle1"></td>
                          <td><input type="checkbox" id="s19" name="vehicle1"></td>
                          <th><input type="text" id="fname" name="fname" value=""></th>
                      </tr>
                  </table>
                  <button type="button" onclick="alert('השינויים נשמרו בהצלחה!')">!שמירת שינויים</button>
          </center>

</div>

</center>
</body>
{% endblock %}