<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}UsernameRecovery:{% endblock %}

{% block content %}
<html dir="rtl">
<head>
<title>UsernameRecovery</title>
 <style type="text/css">
     h1 {
         text-align:center
      }
     h2 {
         text-align:center
     }
     p {
         text-align: right
     }
     label {
         text-align:left
     }
     img{
      margin-top:-110px
     }
 </style>
</head>

<body style="background-color:#fffdd0;">
<h1>שחזור שם משתמש</h1>
 <h2>על מנת לשחזר את שם המשתמש נא לבצע את הפעולות הבאות:</h2>
<h3>נא למלא את השדות החסרים:</h3>
<p><label>*שם פרטי:</label><input type="text" id="First Name" value=""></p>
<p><label>*שם משפחה:</label><input type="text" id="Last Name" value=""></p>
<p><label>*תעודת זהות:</label><input type="text" id="ID" value=""></p>
<p><label>*כתובת מייל:</label><input type="text" id="Email Address" value=""></p>
<center><p>לסיום לחץ:<button type="submit"><a href="/UsernameRecovery" >כאן</a></button></p></center>
<center><p>לחזרה לדף הבית לחץ:<button type="submit"><a href="/" >כאן</a></button></p></center><!-- יש לבצע שליחה של שם המשתמש למייל מה DB-->
</body>
{% endblock %}
</html>